<ul class="nav secondary-nav">
  <li class="dropdown">
    <%= link_to current_user.username, "#", :class => "dropdown-toggle" %>
    <ul class="dropdown-menu">
      <li><%= link_to "Edit Account", edit_user_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  </li>
</ul>